= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :customer_name
    = f.text_field :customer_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label "Delivery method"
    %br
    = f.label "delivery"
    = f.radio_button :delivery_method, 'deliver', checked: true
    %br
    = f.label "in-store pickup"
    = f.radio_button :delivery_method, 'pickup'
  .actions
    = f.submit 'Save'
